numpy
pillow
pyyaml
tqdm
einops
regex
ftfy
sentencepiece
opencv-python-headless

transformers>=4.50,<5.0
accelerate
safetensors
huggingface-hub

pycocotools
git+https://github.com/salaniz/pycocoevalcap
